<div id="hiddenCounter" style="display: none">{{ game.counter }}</div>
<table class="world">
    {% for i in range(0, game.world | length) %}
    <tr>
        {% for j in range(0, game.world[i] | length) %}
            {% if game.world[i][j] %}
                <td class="cell living-cell"></td>
            {% elif game.old_world and game.old_world[i][j] %}
                <td class="cell dead-cell"></td>
            {% else %}
                <td class="cell"></td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
