<p>Эта форма создает новую случайную жизнь на поле заданного размера.
    Допустимые значения размеров от <code>1</code> до <code>100</code>.</p>

<p>Остальные поля устанавливают начальные параметры запроса <code>/live?<em>&lt;query&gt;</em></code>:</p>

<dl>
    <dt><code>serial=<em>&lt;int&gt;</em></code></dt>
    <dd>номер поколения начиная с <code>0</code> (если выбрать большое значение совместно с большим размером поля игры,
        расчет истории поколений может занять длительное время);
    </dd>
    <dt><code>autoupdate=<em>{on|off}</em></code></dt>
    <dd>включить авто обновление, по умолчанию <code>off</code>;</dd>
    <dt><code>update_period=<em>&lt;int&gt;</em></code></dt>
    <dd>период обновления в ms, минимальное допустимое значение <code>100</code> (при малых значениях, слабом
        процессоре, будут просадки);
    </dd>
    <dt><code>js=<em>{on|off}</em></code></dt>
    <dd>включает/отключает JavaScript на стороне клиента, по умолчанию <code>on</code> (если выключить, то авто
        обновление работать не будет).
    </dd>
</dl>

<p>Вы можете изменять их в адресной строке в любое время, <strong>после</strong> создания жизни. Не забывайте нажать
   Enter после изменения. Кнопка Остановить/Продолжить управляет <code>autoupdate</code>. Для остальных параметров
   гуя нет.
</p>
