{% extends 'base.html' %}

{% block app_content %}
    <form action="" method="post">
        {{ form.csrf_token() }}
        {% for field in form if not field.name in ("csrf_token", "submit") %}
            <p>
                {{ field.label() }}:
                {{ field }}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        {% endfor %}
        <p>
            {{ form.submit(class_="btn btn-primary") }}
        </p>
        <div style="font-size:small">
            <p>Допустимые значения от 2 до 100<br>
            Если есть проблемы с вводом, воспользуйтесь <a href="{{ url_for('new_live') }}">прямой ссылкой</a></p>
        </div>
    </form>
{% endblock %}
