{% extends 'base.html' %}

{% block app_content %}
    <form action="" method="post" novalidate>
        {{ form.csrf_token() }}
        {% for field in form if not field.name in ("csrf_token", "submit") %}
            <p>
                {{ field.label() }}: {{ field }}
                {% for error in field.errors %}
                    <snap class="error">
                        <br>{{ error }}
                    </snap>
                {% endfor %}
            </p>
        {% endfor %}
        <div class="remark">
            <p>Допустимые значения ширины и высоты мира от <code>{{ form.min_size }}</code> до
                <code>{{ form.max_size }}</code></p>
        </div>
        <p>{{ form.submit(class_="btn btn-primary") }}</p>
    </form>

    <div class="remark text">
        <div class="column centered">
            <hr>
            {% include "help.html" %}
            <hr>
        </div>
    </div>

{% endblock %}

{% block navigation %}
    <p>
        <a href="{{ url_for('new_live', js='on', autoupdate='on') }}">Прямая ссылка на игру</a>
        | <a href="{{ url_for('nothing_works') }}">Ничего не работает</a>
    </p>
{% endblock %}
