{% extends "base.html" %}

{% block app_content %}
    <!-- TODO: replace table to div -->
    <table style="margin: auto; border: 0;">
        <tr valign="middle">
            <td>
                <a href="{{ url_for('index') }}" class="btn btn-warning">На главную</a>
            </td>
            <td>
                <div id="counter" class="counter">{{ game.counter }}</div>
            </td>
            <td>
                <a id="refreshButton" href="{{ url_for('live') }}" class="btn btn-info">Обновить</a>
            </td>
        </tr>
    </table><br>
    <div id="worldContainer" class="container">
        {% include "_world.html" %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='live.js') }}"></script>
{% endblock %}
 