{% extends "message.html" %}

{% block title -%}
    Обнаруженные проблемы
{%- endblock %}

{% block message %}
    <p>Для предыдущей версии, от некоторых рецензентов я получил отчеты, что отсутствует
        возможность ввести данные с помощью формы, и не отображается поле игры.
        К сожалению, я не смог воспроизвести эти проблемы у себя🙁 Возможно, дело в окружении,
        в котором запускалось приложение...</p>

    <h3>Пожалуйста, если Вы столкнетесь с подобными проблемами:</h3>
    <ul>
        <li>Проверьте, что правильно инициализировали проект (см.&nbsp;<em>README.md</em>).</li>
        <li>Запустите приложение с установленными переменными среды <code>FLASK_DEBUG=1</code> и
            <code>NO_CACHE=1</code> (см.&nbsp;<em>README.md</em>).
        </li>
        <li>Почистите куки для <em>http://127.0.0.1:5000</em>.</li>
        <li>Перезагрузите страницу, удерживая нажатой клавишу <em>Shift</em>.</li>
        <li>Попробуйте воспользоваться прямыми ссылками:
            <ul>
                <li>на <a href="{{ url_for('new_live', autoupdate='on') }}"><strong>игру</strong></a>,</li>
                <li>на <a
                        href="{{ url_for('new_live', js='off', serial=0) }}"><strong>игру&nbsp;без&nbsp;js</strong></a>
                </li>
                <li>или отдельно на <a href="{{ url_for('new_world') }}"><strong>поле игры</strong></a>.</li>
            </ul>
            <p>В последнем случае, должно отображаться только текстовое представление поля игры (без элементов
                управления и подгружаемых стилей). Но при обновлении страницы, жизнь должна жить🙂</p>
        </li>
        <li>Попробуйте отключить в браузере <em>JavaScript</em>.</li>
        <li>Попробуйте не использовать подгружаемые стили.<br/>
            Для этого можно, в консоли разработчика на вкладке <em>Сеть</em> из контекстного меню заблокировать загрузку
            файла <em>styles.css</em>, или просто переименуйте файл <em>static/styles.css</em> в дереве проекта.
        </li>
        <li>Если что-то из вышеперечисленного (или что-то другое) помогло или как-то изменило ситуацию,
            <strong>сообщите</strong> мне об этом.
        </li>
        <li>Пожалуйста, <strong>укажите</strong> в рецензии используемую версию <em>Python</em>, вывод команды
            <code>`pip&nbsp;freeze'</code>, версию браузера и операционной системы. Я буду признателен за любую
            другую информацию, которая, по вашему мнению, поможет мне воспроизвести проблему.
        </li>
    </ul>
{% endblock %}

{% block navigation %}
    <p>
        <a href="{{ url_for('index') }}">На главную</a>
    </p>
{% endblock %}
