<div class="note text">
    <div class="centered column">
        <hr>
        <h3>Обнаруженные проблемы:</h3>
        <p>
            Половина рецензентов сообщает о полной работоспособности программы. Вторая половина сообщает, что
            отсутствует возможность ввести данные с помощью формы, и что не отображается поле игры. Т.е. о полной ее
            <strong>неработоспособности!</strong> У&nbsp;меня нет причин сомневаться в этих рецензиях. Проблемы описаны
            достаточно подробно и схоже разными людьми. Но, к сожалению, я не смог воспроизвести ни одну из них :(
        </p>

        <h4>Пожалуйста, если Вы столкнетесь с подобными проблемами:</h4>
        <ul>
            <li>Проверьте, что правильно инициализировали проект (см. <em>README.md</em>).</li>
            <li>Запустите приложение в режиме отладки (см. <em>README.md</em>).</li>
            <li>Запустите приложение отключив кеширование на стороне браузера (см. <em>README.md</em>).
                Или пробуйте перезагрузить страницу, удерживать нажатой клавишу <em>Shift</em>, тогда браузер
                проигнорирует закэшированный контент.
            </li>
            <li>Попробуйте воспользоваться прямыми ссылками на <a href="{{ url_for('new_live') }}"><strong>игру</strong></a>
                и отдельно на <a href="{{ url_for('new_world') }}"><strong>поле игры</strong></a>. Во втором случае,
                должно отображаться только текстовое представление поля игры (без элементов управления и подгружаемых
                стилей). Но при обновлении страницы, жизнь должна жить :)
            </li>
            <li>Попробуйте отключить в браузере <em>JavaScript</em>.</li>
            <li>Попробуйте не использовать подгружаемые стили.<br/>
                Для этого можно (в случае с <em>Chrome</em>) в консоли разработчика на вкладке <em>Сеть</em>
                из контекстного меню заблокировать загрузку файла <em>styles.css</em>.<br/>Другой способ - просто
                переименуйте файл <em>static/styles.css</em> в дереве проекта.
            </li>
            <li>Если что-то из вышеперечисленного (или что-то другое) помогло или как-то изменило ситуацию, сообщите
                мне об этом этом.
            </li>
            <li>Пожалуйста, укажите в рецензии используемую версию <em>Python</em>, вывод команды
                <code>`pip&nbsp;freeze'</code>, версию браузера и операционной системы. Я буду признателен за любую
                другую информацию, которая, по вашему мнению, поможет мне воспроизвести проблему.
            </li>
        </ul>
    </div>
</div>
