<div style="font-size:small">
    <div class="centered column" style="text-align:justify;">
        <hr/>
        <h3>Обнаруженные проблемы:</h3>
        <p>
            Половина рецензентов сообщает о полной работоспособности программы. Вторая половина сообщает, что
            отсутствует возможность ввести данные с помощью формы, и что не отображается поле игры. Т.е. о полной ее
            <strong>неработоспособности!</strong> У меня нет причин сомневаться в этих рецензиях. Проблемы описаны
            достаточно подробно и схоже разными людьми. Но, к сожалению, я не смог воспроизвести ни одну из них :(
        </p>

        <h4>Пожалуйста, если Вы столкнетесь с подобными проблемами:</h4>
        <ul>
            <li>Проверьте, что правильно инициализировали проект (см. <code>README.md</code>).</li>
            <li>Проверьте, что активировано виртуальное окружение (см. <code>README.md</code>).</li>
            <li>Запустите приложение в режиме отладки (см. <code>README.md</code>).</li>
            <li>
                Попробуйте воспользоваться прямыми ссылками на <a href="{{ url_for('new_live') }}"><strong>игру</strong></a>
                и отдельно на <a href="{{ url_for('new_world') }}"><strong>поле игры</strong></a>. Во втором случае,
                должно отображаться только текстовое представление поля игры (без элементов управления и подгружаемых
                стилей). Но при обновлении страницы, жизнь должна жить :)
            </li>
            <li>Попробуйте отключить в браузере <code>JavaScript</code>.</li>
            <li>
                Попробуйте не использовать подгружаемые стили.<br/>
                Для этого можно (в случае с <code>Chrome</code>) в консоли разработчика на вкладке <code>Network</code>
                из контекстного меню заблокировать загрузку файла <code>styles.css</code>.<br/>Другой способ - просто
                переименуйте файл <code>static/styles.css</code> в дереве проекта.
            </li>
            <li>
                Если что-то из вышеперечисленного (или что-то другое) помогло или как-то изменило ситуацию, пожалуйста,
                сообщите мне об этом этом.
            </li>
            <li>
                Пожалуйста, укажите в рецензии используемую версию <code>Python</code>, вывод команды <code>`pip&nbsp;freeze'</code>,
                версию браузера и операционной системы. Я буду признателен за любую другую информацию, которая, по
                вашему мнению, поможет мне воспроизвести проблему.
            </li>
        </ul>
    </div>
</div>
