<div id="hiddenCounter" class="hidden">{{ cells.ordinal }}</div>
<div id="hiddenCounter" class="hidden">{{ cells.__class__.__name__ }}</div>
<table class="world" style="font-family: monospace;">
    {% for row in range(0, cells.world_height) %}
    <tr>
        {% for col in range(0, cells.world_width) %}
            {% if cells.is_live_cell(row, col) %}
                <td class="cell living-cell">X</td>
            {% elif cells.is_dead_cell(row, col) %}
                <td class="cell dead-cell">D</td>
            {% else %}
                <td class="cell">_</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
